
.main-header {
    background-color: var(--color-background);
    padding: 20px 0;
    border-bottom: 1px solid rgba(38, 37, 34, 0.1); 
}

.nav-bar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo strong {
    font-family: var(--font-header);
    font-size: var(--fs-subtitle);
    font-weight: var(--fw-h1);
    text-transform: uppercase;
    color: var(--color-dark);
}

.nav-links {
    display: none; 
    list-style: none;
    gap: 30px;
}

.nav-links a {
    font-family: var(--font-header);
    font-size: var(--fs-tagline);
    font-weight: var(--fw-tagline);
    text-transform: uppercase;
    color: var(--color-dark);
    transition: var(--transition);
}

.nav-links a:hover, 
.nav-links a.active {
    color: var(--color-primary-2);
}

.nav-controls {
    display: flex;
    align-items: center;
    gap: 15px;
}

.search-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.subscribe-btn-small {
    background-color: var(--color-dark);
    color: var(--color-light);
    border: none;
    padding: 10px 24px;
    border-radius: 50px;
    font-family: var(--font-header);
    font-size: 14px;
    font-weight: var(--fw-tagline);
    text-transform: uppercase;
    cursor: pointer;
    transition: var(--transition);
}

.subscribe-btn-small:hover {
    background-color: var(--color-primary-2);
}

.burger-menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 30px;
    z-index: 100;
}

.burger-menu span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: var(--color-dark);
    transition: 0.3s;
}

@media (min-width: 1024px) {
    .burger-menu {
        display: none; /* Прячем на больших экранах */
    }
}

@media (min-width: 1024px) {
    .nav-links {
        display: flex; 
    }
}